{% extends "base.html" %}
{% load staticfiles %}

<link href="{% static 'css/img.css' %}" rel="stylesheet">
{% block about %}
<body>

  <div class="container">
  <div>
      <h1>
          Who are we?
      </h1>
      <h3 class="descripcion">
          I Donate is a not lucrative company that makes donations to damnified people easy
          across the world. We team up with major chain food markets such as Wallmart, Soriana,
          HEB. We try to reach out companies in different parts of the world so when there is a
          disastrous situation, the donations can come from the nearest company. Below is a testimony of some of our partenered companies
      </h3>
  </div>

    <div class="row">
      <br>
      <div class="col-md-8">
        <img src="{% static 'img/wallmart.png'%}" alt="" class="img-thumbnail" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <p>
          In Wallmart we want to give support to people when it is most needed. In collaboration with IDonate, we are reaching out tons of damaged zones and helping
          out in a way that was not possible before.
        </p>
      </div>
    </div>
      <br>
      <div class="row">
      <div class="col-md-8">
        <img src="{% static 'img/heb.png'%}" alt="" class="img-thumbnail" class="img-responsive"/>
      </div>
      <div class="col-md-4">

        <p>
          HEB is proud to announce that since it partnered up with I Donate, the ability to reach out people with donations has increased significantly. The service they provide helps us to help in a more drastic way. 
        </p>
      </div>
    </div>
      <br>
      <div class="row">
      <div class="col-md-8">
        <img src="{% static 'img/soriana.png'%}" alt="" class="img-thumbnail" class="img-responsive"/>
      </div>
      <div class="col-md-4">

        <p>
          Here in Soriana we've always wanted to help people when they were in most need. We've been able to help a little when disastrous situations occurs but now that we've teamed up with I Donate, we are capable of causing a major impact thanks to the service they provide. 
        </p>
      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

{% endblock %}
