{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>

    {% block cart %}
  <body>

    <div class="container">
    {% for item in Cart %}
    <div class = "media">
        <div class = "media-left">
        {% static "" as Baseurl %}
            <img src="{{Baseurl}}{{item.product.picture}}" style="height:200px; width:200px" alt="">

        </div>
        <div class = "media-body">
            <h3 class = "media-heading">{{item.product.name}}</h3>
            <table class = "table table-bordered">
                <tbody>
                    <tr>
                        <td class ="col-md-2 text-center">{{item.project.name}}</td>
                        <td class ="col-md-2 text-center">{{item.product.price}}</td>
                        <td class ="col-md-2 text-center">{{item.quantity}}</td>
                        <td class ="col-md-2 text-center">
                            <form action="/remove_item_from_cart/" method="get">
                               <input type="hidden" type="text" name = "cartItem" value="{{item.id}}">
                               <input type="submit" class="btn btn-danger" value="Remove">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            <table class = "table table-bordered">
                <h3>Total</h3>
                <tbody>
                    <tr>
                        <td>${{total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
       <div class="col-md-offset-10 col-md-2">
            <form action="/checkout/" method="post">{% csrf_token %}
                <input type="hidden" type="text" name="total" value="{{total}}">
                <input type="submit" class="btn btn-primary" value="Checkout">
            </form>
        </div>
    </div>


    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>

  {% endblock %}
