{% extends "base.html" %}
{% load staticfiles %}

{% block detail %}

  <body>

    <div class="container">
      {% static "" as baseUrl %}
      <div class="row">
        <div class="col-md-8">
          <img src="{{ baseUrl }}{{Project.picture}}" alt="" class="img-thumbnail" class="img-responsive"/>
        </div>
        <div class="col-md-4">
          <h3>
            {{Project.name}}
          </h3>
          <p>
            {{Project.description}}
          </p>
        </div>
      </div>
      <p>
      </p>
    </div>

    <div class="container">
      <div class="row">
        {% for i in Products%}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            {% static "" as baseUrl %}
            <img src="{{ baseUrl }}{{i.picture}}" alt="..." style="width: 250px; height: 200px">
            <div class="caption">
              <h3>{{i.name}}</h3>
              <h5>
                ${{i.price}} per unit
              </h5>
              <form action="/add_item_to_cart/"  method="get" >
                <input type="text" name = "quantity">
                <input type="hidden" type="text" name = "product" value="{{i.id}}">
                <input type="hidden" type="text" name = "Project_id" value="{{Project_id}}">
              <p>{{i.description}}</p>
              <input href="#" class="btn btn-primary" type="submit" value="Add to cart"/>
            </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
{% endblock %}
