{% extends "base.html" %}
{% load staticfiles %}


{% block faq %}
  <body>

  <div class="container">
    <h1>Frequently Ask Questions</h1>
    <div class="panel-group" id="accordion">
      {% for i in FAQ %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
              {{i.question}}
            </a>
          </h4>
        </div>
        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse ">
          <div class="panel-body">
            {{i.answer}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  {% endblock %}

